* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f2f2f2;
}

#Multiplier {
  margin-right: 8px;
}

button {
  padding: 50px;
  height: 38px;
}

#info {
  position: absolute;
  text-align: center;
  top: 120px;
  left: 320px;
}

#start {
  position: absolute;
  text-align: center;
  top: 51px;
  left: 190px;
  font-weight: bold;
  text-transform: uppercase;
}

#A,
#Q,
#QMO,
#M,
#count {
  position: absolute;
  text-align: center;
  top: 115px;
  left: 160px;
  font-weight: bold;
}

#Q {
  top: 136px;
}

#QMO {
  top: 157px;
}

#M {
  top: 178px;
}

#count {
  top: 199px;
}

#CQ,
#CQMO {
  position: absolute;
  text-align: center;
  top: 290px;
  left: 2000px;
  font-weight: bold;
}

#CQ {
  top: 286px;
  left: 195px;
}

#CQMO {
  top: 302px;
  left: 190px;
}

#sub,
#sum,
#ASub,
#ASum {
  position: absolute;
  text-align: center;
  top: 368px;
  left: 51px;
  font-weight: bold;
}

#sum {
  left: 301px;
}

#ASub {
  top: 395px;
}

#ASum {
  top: 395px;
  left: 300px;
}

#Ashift,
#order,
#result,
#countR {
  position: absolute;
  text-align: center;
  top: 440px;
  left: 167px;

  font-weight: bold;
  line-height: 1;
}

#order {
  top: 474px;
  left: 191px;
  font-weight: normal;
  font-size: small;
}

#result {
  top: 490px;
  left: 160px;
  font-size: 0.9rem;
}

#countR {
  top: 510px;
  /* left: 180px; */
  left: 165px;
}

#counterzero {
  position: absolute;
  text-align: center;
  top: 601px;
  left: 180px;

  font-weight: bold;
}

#stop {
  position: absolute;
  text-align: center;
  top: 601px;
  left: 320px;
  font-weight: bold;
  text-transform: uppercase;
}
